# Target Device: Netgear WNDR3700 v1
# This configuration is specifically for the v1 hardware revision.
CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3700=y
CONFIG_TARGET_DEVICE_VARIANT:="v1"

# SFE Flow Offloading Kernel Modules for max performance
CONFIG_PACKAGE_kmod-fast-classifier=y
CONFIG_PACKAGE_kmod-shortcut-fe=y
CONFIG_PACKAGE_kmod-shortcut-fe-cm=y

# Include LuCI Web Interface and default collection of apps
CONFIG_PACKAGE_luci=y

# Explicitly disable PPP and related protocols to save space
# CONFIG_PACKAGE_ppp is not set
# CONFIG_PACKAGE_luci-proto-ppp is not set
